.control__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.control__value {
    margin-left: 8px;
}

app-template-component:not(:last-of-type) {
    margin-bottom: 10px;
}
